<html>

<head>
    <style>
        body {
            /* padding: 50px; */
            font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00B7FF;
        }

        .form_heading {
            color: black;
            font-family: 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 12pt;
            text-align: center;
            font-weight: bold;
        }

        .main_intro {
            color: black;
            font-family: 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 9pt;
        }

        .question {
            font-weight: bold;
            font-family: 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 9pt;
        }

        .answer {
            font-family: 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 9pt;
        }

        .boxed {
            border: 1px solid green;
        }

        #submit_heading {
            color: black;
            font-family: 'Calibri', 'Trebuchet MS', sans-serif;
            font-size: 12pt;
            font-weight: bold;
        }

        #heading {
            font-size: 14pt;
        }

        #submitting_form {
            color: black;
            font-weight: bold;
        }

        textarea {
            width: 100%;
        }
    </style>
</head>

<body>

    <img src="<%= dir %> uwa_bluelogo.png" alt="" style="">

    <h1 class="form_heading" id="heading">Request for Research Priorities Funds</h1>

    <p class="main_intro">Allocations from the Research Priorities Fund (RPF) will normally be restricted to cases
        where University co-investment will strengthen the University's case for obtaining access to external funds.
        This is most likely to arise in situations where University contributions are a specific requirement of an
        external funding scheme or in one-off circumstances where it can be demonstrated that a University cash
        commitment will provide the leverage necessary to attract external funding.
        <br><br>
        Please complete the following:
    </p>


    <br><br>
    <% for(var i=0; i < QA.length; i++) {%>
    <% if(QA[i].title) {%>
    <h3>
        <%= QA[i].title %>
    </h3>
    <% } %>
    <p class="question">

        <%= QA[i].question %>:
    </p>

    <p class="answer">
        <%= QA[i].answer %>
    </p>

    <br>

    <% } %>
    <br>
    <br>
    <br>

    <b>Name of Applicant:</b>
    <br>
    <%= owner.fname %>
    <%= owner.lname %> (
    <%= owner.number %>)
    <br>
    <br>
    <b>Approvals:</b>
    <br>
    <% for(var i=0; i < approvers.length; i++) {%>
    <%= approvers[i].role %> :
    <%= approvers[i].name %> (
    <%= approvers[i].number %>) --
    <%= approvers[i].date %><br><br>
    <% } %>
    <br><br>

    <style>
        .cn {
            display: table-cell;
            width: 600px;
            vertical-align: middle;
            text-align: center;
        }

        .inner {
            display: inline-block;
            width: 300px;
        }
    </style>
    <div class="cn">
        <div class="inner"><b>PLEASE FORWARD THE COMPLETED FORM TO<br>DIRECTOR, OFFICE OF RESEARCH ENTERPRISE, M459</b></div>
    </div>
    <br>

    <div class="cn">
        <div class="inner" style="width: 433px;">

            <div class="boxed">
                <div class="inner">
                    Office use only
                </div>

                <br>
                <div style="text-align: left">
                    <input type="checkbox" name="option" value="immediate"> Approved for immediate allocation:
                    ______________________ Date: ____________
                    <br><br>
                    <input type="checkbox" name="option" value="external">Approved for pending external allocation:
                    _______________ Date: ____________
                </div>
                <br><br>
                Robyn Owens (DVC Research) / Campbell Thomson (Director, Office of Research Enterprise)
            </div>
        </div>
    </div>


</body>

</html>